<!DOCTYPE html>
<html>
    <head>
        <title>入力フォーム</title>
        <link rel="stylesheet" href="style.css" >
    </head>
    <body>
            <div class="box1">
            <form action="/index" method="POST">
            <p><textarea name="name" cols="30" rows="10" class=".m-form-text"></textarea></p>
            <label for="r1">東京：</label><input type="radio" id="r1" name="radio" value="東京">
            <label for="r2">全国：</label><input type="radio" id="r2" name="radio" value="全国">
            <input type="submit" value="送信">
            </form>
            </div>
    </body>
</html>